:root {
  /* Global app colors */
  --background-color: #ebebeb;
  --dimension-color: #d0d0d0;
  --interaction-color: #060606;
  --button-bg: #00000012;
  --button-text: #ffffff;
  --button-border: #ffffff;
}

#root {
  width: 100vw;
  height: 100dvh;
  max-width: 100%;
  margin: 0;
  padding: 0rem;
  text-align: center;
}

/* Styles for the download button - fixed UI overlay like Leva panel */
.button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000 !important;
  background-color: var(--button-bg);
  font-size: 1rem;
  color: var(--button-text);
  border: 1px solid var(--button-border);
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

/* Hover effect */
.button:hover {
  background-color: #ffffff45;
  color: var(--interaction-color);
  border: 1px solid var(--interaction-color);
  transform: scale(1.01);
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}